* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background-size: contain;
  filter: grayscale(0.6);
}

.wrapper {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.495);
}

.container {
  padding: 80px;
  margin-top: -150px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 18px;
  background-color: #fff;
}

h2 {
  margin-bottom: 40px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input[type="date"] {
  padding: 12px 20px;
  border: 1px solid #000;
  border-radius: 8px;
  font-size: 22px;
  font-weight: 800;
}

button {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
}

button:hover {
  background-color: #000;
  color: #fff;
  font-weight: 600;
}

.container>div {
  margin-top: 20px;
  border-radius: 8px;
  padding: 40px;
  text-align: center;
  font-size: 26px;
  background-color: rgb(247, 255, 250);
  color: rgb(0, 104, 35);
}